In [480]:
import pyodbc
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'MEM0BISQL01T' 
database = 'db_TGEDW_EDH' 
username = 'svcbit' 
password = '3g=ZTU#Cg$pM5+'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [481]:
import numpy as np

In [482]:
query = "SELECT * FROM information_schema.tables"
df = pd.read_sql(query, cnxn)

In [483]:
df.head(100)

   TABLE_CATALOG TABLE_SCHEMA    TABLE_NAME  TABLE_TYPE
0   db_TGEDW_EDH          dbo     tbl_PYADR  BASE TABLE
1   db_TGEDW_EDH          dbo   tbl_PYADRAB  BASE TABLE
2   db_TGEDW_EDH          dbo  tbl_PYADRJ01  BASE TABLE
3   db_TGEDW_EDH          dbo  tbl_PYADRJ02  BASE TABLE
4   db_TGEDW_EDH          dbo  tbl_PYADRJ03  BASE TABLE
..           ...          ...           ...         ...
95  db_TGEDW_EDH          dbo     tbl_ITFMB  BASE TABLE
96  db_TGEDW_EDH          dbo     tbl_ITFNT  BASE TABLE
97  db_TGEDW_EDH          dbo     tbl_SLPRP  BASE TABLE
98  db_TGEDW_EDH          dbo     tbl_ITFPD  BASE TABLE
99  db_TGEDW_EDH          dbo     tbl_PRLBR  BASE TABLE

[100 rows x 4 columns]

In [517]:
def listSqlTables():
    global tables
    tables=[]
    for data in df['TABLE_NAME']:
        tables.append(data)
    return tables

In [503]:
tbl_edh=['tbl_PRLBR','tbl_ITFPD','tbl_SLPRP','tbl_ITFMB', 'tbl_ITFNT']

In [504]:
final_tbl= set(tbl_edh).intersection(listSqlTables())

In [505]:
final_tbl=list(final_tbl)

In [506]:
final_tbl

['tbl_SLPRP', 'tbl_ITFMB', 'tbl_ITFPD', 'tbl_PRLBR', 'tbl_ITFNT']

In [546]:
def saveDf():
    global query_tbl
    global df_sql
    for data in final_tbl:
        query_tbl = "SELECT * FROM"+' '+str(data)
        df_sql=pd.read_sql(query_tbl, cnxn)
        cols=[]
        for col in df_sql.columns: 
            cols.append(col)
            clean_columns=', '.join(cols)
        print(clean_columns)
        #np.savetxt('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/df_{}'.format(str(data))+'.txt', df_sql, delimiter = "|^|", header=clean_columns,fmt="%s",comments='')
        np.savetxt('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/df.txt', df_sql, header=clean_columns,fmt="%s",comments='')
        df1=pd.read_csv('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/df.txt',error_bad_lines=False,sep=',',header=None,engine='python')
        np.savetxt('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/df_{}'.format(str(data))+'.txt', df1, delimiter = "|^|",fmt="%s")

In [547]:
saveDf()

ACTID, PRPSTHCOD, PRPLDSCOD, PRPANNAMT, PRPREGAMT, PRPEXIAMT, PRPRNLAMT, PRPSPCAMT, PRPQUACOD, ACTPACTID, ACTTACTID, ACTRACTID, ACTFUTCOD, ACTVAR1, ACTVAR2, ACTFQUCOD, ACTREF, ACTPTYIDL, ACTPAASID, ACTPRYSID, ACTSITCOD, ACTSICCOD, ACTICGCOD, ACTITMCOD, ACTIQTY, ACTIQTUCD, ACTIAMT, ACTICRNCD, ACTITMVA1, ACTSVMVA1, AC#STS, AC#DTE, AC#CRSCOD, AC#CDTE, ACTPTYIDO, ACTPTYV9O, ACTPTYNUO, ACTBUNCDO, ACTTRYCDO, ACTEMPNUO, ACTBUNCDC, ACTTRYCDC, ACTEMPNUC, ACTFDTE, ACTFTIM, ACTTDTE, ACTTTIM, ACTDTE, ACTGDUR, ACTGDUUCD, ACTDUR, ACTDUUCOD, AC#APVCOD, AC#EMPNUV, AC#VDTE, AC#BFDTES, AC#BFTIMS, AC#BTDTES, AC#BTTIMS, AC#SDTE, AC#IVAR1, AC#ISSNUM, AC#IDTE, AC#SRNCOD, AC#SRNNUM, AC#KDTE, AC#PQTY, AC#PAMT, AC#PCTC, AC#PDTE, XXDATE, XXTIMESTAMP, XXFUNC, XXPROC, XXTIME, XXUSER, UPDATE_IDENT, InsertDateTime, InsertUserId, LastChangeDateTime, LastChangeUserId
BUNCOD, FMBFDTE, FMBFDTE_DT, FMBTDTE, FMBTDTE_DT, FMBIND, XXDATE, XXDATE_DT, XXTIMESTAMP, XXTIME, XXTIME_TM, XXFUNC, XXUSER, UPDATE_IDENT, InsertDateTime, InsertUserID, LastChangeDateTime, LastChangeUserID, RecordChecksum
FILNUM, PDBORD, PDBPRDNUM, FPDPAMT, FPDAPAMT, FPDUOM, FPDAUOM, FPDAIC01, FPDAIC02, FPDAIC03, FPDAIC04, FPDAIC05, FPDAIC06, FPDING01, FPDING02, FPDING03, FPDING04, FPDING05, FPDING06, XXDATE, XXDATE_DT, XXTIMESTAMP, XXTIME, XXTIME_TM, XXFUNC, XXUSER, UPDATE_IDENT, InsertDateTime, InsertUserID, LastChangeDateTime, LastChangeUserID, RecordChecksum
LBRCOD, LBRDSC, LBRICGCOD, LBRPRIND, LBROTCOD, LBRHRSW, XXDATE, XXDATE_DT, XXTIMESTAMP, XXFUNC, XXPROC, XXTIME, XXTIME_TM, XXUSER, UPDATE_IDENT, InsertDateTime, InsertUserID, LastChangeDateTime, LastChangeUserID
FNTCOD, FNTDSC, FNTDSC2, XXDATE, XXDATE_DT, XXTIMESTAMP, XXTIME, XXTIME_TM, XXUSER, XXFUNC, UPDATE_IDENT, InsertDateTime, InsertUserID, LastChangeDateTime, LastChangeUserID, RecordChecksum

In [575]:
def import_Transformed_Df():
    global datae
    datae=[]
    global arr
    arr = os.listdir('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/')
    print(arr)
#     for i in arr:
#         data.append(i)
        
#         df=pd.read_csv(data,header=None)
#         np.savetxt('_{}'.format(str(data)), df, delimiter = "|^|",fmt="%s")

In [639]:
def testTgt():
    arr = os.listdir('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/')
    new_arr=[]
    for data in arr:
#         print(data)
        if data !='df.txt':
            new_arr.append(data)
    for data in new_arr:
        df=pd.read_csv('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/'+data, sep='\|\^\|,',encoding='cp1252',engine='python')
        print('The rows and columns in target for:'+ '_{}'.format(str(data)), df.shape)

        
# df=pd.read_csv('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/df_tbl_PRLBR.txt',sep='\|\^')

In [637]:
def compareResult():
    testData()
    testTgt()

In [638]:
compareResult()

The rows and columns for source: _tbl_SLPRP - (0, 81)
The rows and columns for source: _tbl_ITFMB - (0, 19)
The rows and columns for source: _tbl_ITFPD - (0, 32)
The rows and columns for source: _tbl_PRLBR - (18, 19)
The rows and columns for source: _tbl_ITFNT - (218, 16)

AttributeError: 'str' object has no attribute 'shape'

In [591]:
# arr=[]
# arr = os.listdir('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/')
df1=pd.read_csv('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/df.txt',error_bad_lines=False,header=None,engine='python')
df1.head()
# for data in arr:
#     print(data)
#     pd.read_csv(data, header=None, sep='\|\^|', engine='python')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,FNTCOD,FNTDSC,FNTDSC2,XXDATE,XXDATE_DT,XXTIMESTAMP,XXTIME,XXTIME_TM,XXUSER,XXFUNC,UPDATE_IDENT,InsertDateTime,InsertUserID,LastChangeDateTime,LastChangeUserID,RecordChecksum
1,AE Today,I aerated your lawn. Core aeration will allev...,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,AE+SEED Today,I aerated your lawn and also overseeded it. A...,reduce soil compaction and thatch build up. ...,None,None,None,None,None,None,None,None,None,None,None,None,None
3,BWC Today,I treated for broadleaf weeds in your lawn. ...,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,BWC+GWC Today I treated for broadleaf ...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [631]:
def testData():
    for data in final_tbl:
        query_tbl = "SELECT * FROM"+' '+str(data)
        df_sql=pd.read_sql(query_tbl, cnxn)
        print("The rows and columns for source: "+ '_{}'.format(str(data)) +' -', df_sql.shape)

In [632]:
testData()

The rows and columns for source: _tbl_SLPRP - (0, 81)
The rows and columns for source: _tbl_ITFMB - (0, 19)
The rows and columns for source: _tbl_ITFPD - (0, 32)
The rows and columns for source: _tbl_PRLBR - (18, 19)
The rows and columns for source: _tbl_ITFNT - (218, 16)

In [552]:
df1=pd.read_csv('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/df_tbl_PRLBR.txt', sep='\|\^\|',engine='python')
df1.shape

(18, 19)

In [492]:
# import os
# def transformToPipeCaretPipe():
#     arr = os.listdir('c:/Users/bkarki/Documents/ETL_PIPE_CARET_PIPE/')
#     for data in arr:
#         df=pd.read_csv(data,header=None)
#         np.savetxt('_{}'.format(str(data)), df, delimiter = "|^|",fmt="%s")

# # df1=pd.read_csv('c:/Users/bkarki/Documents/csvfile.txt',header=None)
# # np.savetxt('csvfile.txt', df1, delimiter = "|^|",fmt="%s")

In [494]:
# transformToPipeCaretPipe()

In [150]:
# cols=[]
# for col in df.columns: 
#     cols.append(col)
# clean_columns=', '.join(cols)

In [151]:

# np.savetxt('csvfile.txt', dd, delimiter = ",", header=clean_columns,fmt="%s",comments='')
# df1=pd.read_csv('c:/Users/bkarki/Documents/csvfile.txt',header=None)
# np.savetxt('csvfile.txt', df1, delimiter = "|^|",fmt="%s")